nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/")
        img#logo-img(src="/images/pages/base/logo.png")
        span.glyphicon.glyphicon-home
        
    ul.nav.navbar-nav
      li
        a(href="/about") About
      li
        a(href="/teachers") Teachers
      li
        a(href="https://discourse.codecombat.com/") Forum
      li
        a#create-account-link Create Account
      li
        a#login-link Login
      
    #language-dropdown-wrapper.pull-right
      select.language-dropdown.form-control
      
.container
  #classroom-in-box-row.row
    .col-sm-6
      h2.text-navy A classroom in-a-box for teaching computer science.
    .col-sm-6
      p CodeCombat is a platform for students to learn computer science while playing through a real game.
      p Our courses have been specifically playtested to excel in a classroom setting, even by teachers with little to no prior programming experience.
    
  #feature-spread-row.row.text-center
    h3 Designed with teachers in mind
    .col-sm-4
      img.img-circle(src="/images/pages/home/F1_typedcode.png")
      h4
        | Real, typed code
        br
        | from the first level
      p.small Getting students to typed code as quickly as possible is critical to learning programming syntax and proper structure.
      
    .col-sm-4
      img.img-circle(src="/images/pages/home/F2_teacherguides.png")
      h4 
        | Educator resources
        br
        | and course guides
      p.small Teaching computer science does not require a costly degree, because we provide tools to support educators of all backgrounds.
      
    .col-sm-4
      img.img-circle(src="/images/pages/home/F3_accessible.png")
      h4
        | Accessible to
        br
        | everyone
      p.small Democratizing the process of learning coding is at the core of our philosophy. Everyone should be able to learn to code.
  
  #testimonials-rows.text-center
    #testimonials-filler
    .row
      .col-lg-7.col-sm-8
        blockquote
          h2 I think they actually forgot that they were actually learning something.
        
      .col-lg-2.col-sm-3
        img.img-circle(src="/images/pages/home/timmaki.png")
        h6 Tim Maki
        .small Director of Technology, Tilton School
      
    .row
      .col-lg-2.col-sm-3.col-lg-offset-1
        img.img-circle(src="/images/pages/home/dylan.png")
        h6 Dylan
        .small 3rd Grader
          
      .col-lg-7.col-sm-8
        blockquote
          h2 Coding is something I've always wanted to do, and I never thought I would be able to learn it in school.
          
  h3.text-center Why is learning through games important?
  
  #benefit-row-1.row
    .col-sm-5
      p
        | Gaming is a medium that encourages interaction, discovery, and trial-and-error.
        | A good game challenges the player to master skills over time,
        | which is the same critical process students go through as they learn.
      p
        | Games excel at rewarding “
        a(href="http://blog.mindresearch.org/blog/game-based-learning-infographic-strong-math-practices" target="_blank") productive struggle
        span.spr ” - the kind of struggle that results in learning that’s engaging and
        a(href="http://www.gamesandlearning.org/2014/06/09/teachers-on-using-games-in-class/" target="_blank") motivating
        | , not tedious.

    .col-sm-6.col-sm-offset-1#benefit-graphic-1
      h2 Studies reward the productive struggle.
      img(src="/images/pages/home/G1_reward.png")
      #benefit-graphic-1-filler
      
  #benefit-row-2.row
    .col-sm-6#benefit-graphic-2
      h2 Studies suggest gaming is good for children’s brains. (it’s true!)
      img(src="/images/pages/home/G2_brains.png")
      #benefit-graphic-2-filler
        
    .col-sm-5.col-sm-offset-1
      p
        span.spr When game-based learning systems are
        a(href="http://schoolsweek.co.uk/gaming-is-good-for-childrens-brains-study-suggests/" target="_blank") compared
        span.spl.spr against conventional assessment methods, the difference is clear: games are better at helping students retain knowledge, concentrate and
        a(href="http://dev.k-12techdecisions.com/article/game_based_learning_is_where_vygotsky_meets_dweck/P3" target="_blank") perform at a higher level of achievement
        | .
      p
        | Games also provide real-time feedback that allows students to adjust their solution path and understand concepts more holistically, instead of being limited to just “correct” or “incorrect” answers.
      
  #benefit-row-3.row
    .col-sm-5
      p
        | A great game is more than just badges and achievements - it’s about a player’s journey, well-designed puzzles, and the ability to tackle challenges with agency and confidence. 
      p
        | CodeCombat is a game that gives players that agency and confidence with our robust typed code engine, which helps beginner and advanced students alike write proper, valid code.

    .col-sm-6.col-sm-offset-1#benefit-graphic-3
      h2 A real game, played with real coding.
      img(src="/images/pages/home/G3_game.png")
      #benefit-graphic-3-filler
    